html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-image: url('../image/background.jpg');
  background-color: rgba(235, 186, 74, 77%);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 2em;
  letter-spacing: 1px;
}

/* CONTAINER */
.container {
    width: 100%;
}

.row::before {
    content: "";
    background: rgba(235, 186, 74, 77%);
    z-index: 1;
}

.row > * {
    z-index: 10;
}

/* SECTION */
.section-top{
  display: flex;
  height: 20%;
}

.section-alert {
  display: flex;
  height: 33%;
}

.section-download {
  display: flex;
  height: 47%;
}

/* ROW */
.row{
  height: 100%;
  width: 100%;
}

/* COL */
.col {
  float: left;
  height: 100%;
  width: 20%;
  display: flex;
}

.align-center{
 text-align: center;
 margin: auto;
}

.align-center p{
 line-height: 1.5em;
}

/* BUTTON */
.button {
  background-color: rgba(0,0,0, .2);
  color: white;
  border: 1px solid #ffffff;
  padding: 10px 15px;/* Green */
  margin-top: 10px;
}

.button-white {
  background-color: rgba(255,255,255, .2);
  color: white;
  font-size: 1em;
  border: 1px solid #ffffff;
  padding: 15px 20px;/* Green */
  margin-top: 10px;
}

/* SVG*/
.svg {
  filter: invert(1);
  padding: 20px;
  width: 15vh;
  height: auto;
}

.svg-alert {
  filter: invert(1);
  padding: 10px;
  height: auto;
  width: 5%
}

.svg-button {
  display: none;
}

/* COLOR */
.color-1 {
  background-color: rgba(235, 186, 74, 77%);
}

.color-2 {
  background-color: rgba(232, 160, 62, 77%);
}

.color-3 {
  background-color: rgba(90, 198, 250, 77%);
}

.color-4 {
  background-color: rgba(69, 156, 227, 77%);
}

.color-5 {
  background-color: rgba(227, 99, 77, 77%);
}

.color-grey {
  background-color: rgb(120,120,120);
}


@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .svg {
      width: 15vw !important;
    }

    .svg-alert {
      width: 6vw !important;
    }
}

/* MOBILE SCREEN SIZE */
@media (max-width: 767px){
  html, body {
    background-size: cover !important;
  }

  .container {
      width: 100%;
      padding: 0;
  }

  .title {
    font-size: 1.2em
  }

  /* SECTION */
  .section-top{
    display: none !important;
  }

  .section-alert {
    display: flex;
    height: 36vh !important;
  }

  .section-download {
    height: 64vh !important;
    margin: auto;
  }

  /* BUTTON */
  .button {
    display: none;
  }

  .button-white {
    display: none;
  }

  /* COL */
  .col {
    width: 100% !important;
    height: calc(64vh / 5) !important;
  }

  .align-center{
   width: 100%;
   text-align: left !important;
   margin: 0 !important;
   display: flex;
   align-items: center;
   padding: 0 10px;
  }

  .align-center p {
    flex-grow: 1;
    padding: 0 10px;
  }

  /* SVG */
  .svg {
    width: 15vw !important;
    padding: 10px !important;
  }

  .svg-alert {
    width: 10vw !important;
  }

  .svg-button {
    display: block !important;
    filter: invert(1);
    padding: 10px;/* Green */
    margin-left: auto;
    height: 8vw;
    width: 8vw;
  }

}
